.hero {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__description {
  font-size: 1.6rem;
  line-height: 2rem;
}

.hero__social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.hero__social-link {
  transition: transform 0.3s ease-in-out;
}

.hero__social-link:hover {
  transform: scale(1.25);
}

@media (max-width: 425px) {
  .hero__description {
    font-size: 1.3rem;
  }
}