.projects__section {
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects__container {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.project__card {
  background-color: var(--bg-shade);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.project__card:hover {
  transform: translateY(-10px);
}

.project__card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project__card h3 {
  font-size: 22px;
}

.repo-button {
  background: #cecece;
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}