:root {
  --bg-shade: #161513;
  --primary: #ff5733;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}  

body {
  background-color: #000;
}

.subtitle {
  font-size: 25px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  background: linear-gradient(90deg, #ff0000 0%, #ff007f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

