:root {
  --bg-shade: #161513;
  --primary: #ff5733;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}  

body {
  background-color: #000;
  /* background-color: var(--bg-shade); */
}

